<!DOCTYPE html>
<html>
    <head>
      <title>Treat.io</title>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
        <header class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <%= link_to "Treat.io", root_path, id: "logo" %>
              
              <!-- this nav is the menue -->
              <nav>
                <ul class="nav pull-left">
                <li><%= link_to "Jobs", jobs_path %></li>
                </ul>
              <!-- this nav is the menue END -->
              
                <ul class="nav pull-right">
                    <% if user_signed_in? %>
                      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                        <% else %>
                    <li><%= link_to "Sign in", new_user_session_path %></li>
                    <% end %>
                </ul>
              </nav>
            </div>
          </div>
        </header>
        <div class="container">
            <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>

